@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #E5E5E5;
    font-family: 'Lyon Display';
}

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "~@blueprintjs/table/lib/css/table.css";


.icon:before {
    content:"";
    font-family: Icons16,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}